<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="page-footer font-small stylish-color-dark pt-4 mb-5">
    <hr>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
                <p>
                    Guldbergsgade 123 <br>
                    2233 Copenhagen <br>
                    tlf. +45 12 34 56 78<br>
                    mail:&nbsp<a href="mailto:info@catharsispark.com" >info@catharsispark.com</a><br>
                    CVR: 12345678<br>
                </p>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Info</h5>
                <!-- Links -->
                <ul class="col-md-1">
                    <li>
                        <a href="#!">Legal terms</a>
                    </li>
                    <li>
                        <a href="#!">GDPR</a>
                    </li>
                    <li>
                        <a href="#!">Newsletter</a>
                    </li>
                    <li>
                        <a href="#!">FAQ</a>
                    </li>
                    <li>
                        <a href="#!">Press</a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Visit us om social medias</h5>
                <div>
                    <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"> </i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"> </i></a>
                    <a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"> </i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"> </i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"> </i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <hr>
    <div class="footer-copyright text-center py-3"><small class="text-muted">© 2020 copyright for their respective authors |&nbsp
    </small><a href="https://www.catharsispark.com/"><small class="text-muted">catharsispark.com</small></a>
    </div>
    <!-- Copyright -->

</footer>

</body>

</html>