<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div style="max-width: 1140px;margin:0 auto">
<table class="table table-bordered table-sm" id="tbl">
    <thead>
    <tr>
        <th>ID</th>
        <th>Activity</th>
        <th>Description</th>
        <th>Employee ID</th>

    </tr>
    </thead>
    <tbody style="text-align: center">
    </tbody>
</table>


</div>
<script>
    fetch("http://54.234.57.19:8085/activities")
        .then(response => response.json())
        .then(data =>  {
            console.log(data)
            updateTableHTML(data.map(x => Object.values(x)))
        })


    const tableBody = document.getElementById("tbl");

    function updateTableHTML(array1) {

        array1.forEach(function(row) {
            const newRow = document.createElement("tr");
            tableBody.appendChild(newRow);

            if (row instanceof Array) {
                row.forEach(function(cell) {
                    const newCell = document.createElement("td");
                    newCell.textContent = cell;
                    newRow.appendChild(newCell);
                });
            } else {
                const newCell = document.createElement("td");
                newCell.textContent = row;
                newRow.appendChild(newCell);
            }})}

</script>
</body>
</html>

