<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book new activity</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<button id="index" class="btn btn-info">Index</button>
<button id="activities" class="btn btn-info">Activities</button>
<button id="booking" class="btn btn-info">Bookings</button>
<button id="new-booking" class="btn btn-info">Book activity</button>


<h1>New booking</h1>
<p>ID: <input type="text" id="bookingId"></p>
<p>Date: <input type="text" id="bookingDate"></p>
<p>Participants: <input type="text" id="participants"></p>
<p>Activity ID: <input type="number" id="activity"></p>
<button id="add-booking" class="btn btn-info">Add</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        $('#add-booking').on('click', function () {
            let dataString = {
                bookingId: $("#bookingId").val(),
                bookingDate: $('#bookingDate').val(),
                participantCount: $('#participants').val(),
                activity: {
                    actId: $('#activity').val()
                }

            }
            // dataString.bookingDate = dataString.bookingDate.split("-").reverse().join("-");


            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(dataString),
                headers: {
                    'Accept': 'application/json',
                    'Content-type': 'application/json'
                },
                url: 'http://54.234.57.19:8085/newbooking',
                success: function (data) {
                    console.log(data['bookingId']['81'])
                    console.log(data)
                },

                error: function () {
                    alert(this.data)
                }
            })
        });

    });
</script>
<script>
    function redirect(querySelector, url) {
        document.querySelector(querySelector)
            .addEventListener('click', () => {
                window.location.href = url
            })
        console.log("query:" + querySelector, "url:" + url)
    }

    redirect("#index", "http://localhost:8090/")
    redirect("#activities", "http://localhost:8090/activities")
    redirect("#booking", "http://localhost:8090/booking")
    redirect("#new-booking", "http://localhost:8090/booking/new")

    // redirect("#index", "http://54.234.57.19:8090/")
    // redirect("#activities", "http://54.234.57.19:8090/activities")
    // redirect("#booking", "http://54.234.57.19:8090/booking")
    // redirect("#new-booking", "http://54.234.57.19:8090/booking/new")
</script>
</body>
</html>